/* Importar fuente de Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Variables de color */
:root {
  --azul-oscuro: #072AC8;
  --azul-claro: #43D2FF;
  --amarillo: #FFC600;
  --gris-oscuro: #292E47;
  --gris-medio: #6B708D;
  --fondo: #F2F4FC;
  --blanco: #ffffff;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--fondo);
  color: var(--gris-oscuro);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--blanco);
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.btn-primary {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  padding: 12px 24px;
  text-decoration: none;
  margin-right: 40px;
}

nav ul a {
  text-decoration: none;
  color: var(--gris-medio);
  font-size: 17px;
  font-weight: 500;
}

nav ul a.active {
  color: var(--azul-oscuro);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.hero-texto {
  padding: 100px;
}

.hero-texto h1 {
  margin-bottom: 20px;
}

.hero-texto p {
  margin-bottom: 40px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
}

.logos img {
  width: 10%;
}

.hero-imagen img {
  width: 100%;
  max-width: 80%;
}

.cards {
  display: flex;
  gap: 24px;
}

.proyectos{
  padding: 40px;
}

.proyectos h2{
  margin-bottom: 20px;
}

.proyectos img {
  width: 100%;
}

.card {
  background-color: var(--blanco);
  flex: 1;
}

.card-text{
  padding: 20px;
}